*.csv
*.zip
*.xls
*.xlsx
*.pdf
*.ppt
*.pptx
*.7z
*.log
*.log.*

.settings/**
.classpath
.project
.DS_Store

gdi.properties

projects/GDC/cqa/bin/descriptor/GDCCQAOpportunityHistoryWatcher.class
projects/GDC/cqa/bin/descriptor/GDCCQASynchronizationDescriptor.class

bash-library/_test/*

bash-library/composer/*.token

bash-library/composer/*.xml

bash-library/composer/*.maql

bash-library/composer/*.pid

!bash-library/composer/*.csv

bash-library/composer/demo.gcl

